h2  {
    color:blueviolet;
    background-color: ghostwhite;
}
button {
    color:coral;
    background-color: cyan;
}
p {
    color: rgb(89,0,151) ;
    background: #079900;
}
/* exercise 1
h1 {
    color: green;
}

h2{
    color: magenta;
}
p {
    color: white;
    background: black;
}
button {
    color :red;
    background-color: pink;
} */

/* excercise 2
 */

 /* h1 {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: wavy plum underline;
 } */